body{
    background: url("https://memory-puzzle-game.netlify.com/img/geometry2.png");
    margin:0;
}
h1{
    margin-bottom: 0;
}

header{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
height:5%;
}

#websiteName{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
.orangeRedStars{
    color:orangered;
 
}
#result{
    background-color: white;
    position : absolute;
    top:5vh;

box-shadow: 2em 2em 5em black;
display: none;

    width:100vw;

}


#result:nth-child(n){
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#playAgain{
    width: 30%;
    height:10vh;
    margin-bottom: 5vh;
    background-color: black;
    color:white;
}

button::-moz-focus-inner {
    border: none;
  }
  button{
      border:none;
  }
  
.timer{
    margin-left: 3%;
}
#retry{
    margin-left: 3%;
    background-color: transparent;
    border:none;
    height: 5%;
    font-size: 150%;
    font-family: FontAwesome;
    background-color: transparent;
}

#board-container-flex{
    display: flex;
    justify-content: center;

}
#game{
    height: 36vw;
    width:36vw;
    display: grid;
    grid-template-columns:20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20%;
grid-gap: 4%;
  border-radius: 5%;
justify-content: center;
align-content: center;
  background :linear-gradient(-217deg,#02ccba,#aa7ecd 80%);
 
}

.card {
    background-color: grey;



font-family: FontAwesome;
font-size: xx-large; 

color:grey;
padding: 0;
border-radius: 5%;
}





/* @media (max-width: 500px) and (min-width:300px){


    #game{
        height: 75vw;
        width: 75vw;

    }
    .card{
        height: 15vw;
        width: 15vw;


    }

} */
@media (max-width: 600px){


    #game{
        height: 90vw;
        width: 90vw;
    }
    .card{
        height: 18vw;
        width: 18vw;


    }

}